<style>
table.headerTable {
  border: 1px solid #1C6EA4;
  background-color: #EEEEEE;
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}
table.headerTable td, table.headerTable th {
  border: 3px solid #AAAAAA;
  padding: 3px 2px;
}

a.headerLink:link {
    color: black;
    text-decoration: None;
}

a.headerLink:visited {
    color: black;
    text-decoration: None;
}
</style>
<header>
<table class="headerTable">
<tr>
    <td>
        <h3><a href="/" class="headerLink"> Stream Service</a></h3>
    </td>
    <td>
        <a href="/" class="headerLink"> На главную </a>
    </td>
    <td>
        <a href="search" class="headerLink">Поиск</a>
    </td>
    <td>
        <a href="lk" class="headerLink">Личный кабинет</a>
    </td>
</tr>
</table>
</header>
<br>