<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    {% load static %}
    <script src="{% static 'libs/jquery/jquery.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'libs/jquery/jquery-ui.css' %}">
    <script src="{% static 'libs/jquery/jquery-ui.min.js' %}"></script>
    <script src="{% static 'libs/sha256.js' %}"></script>
</head>
<body>
     {% include "header.html"%}
    <form method="post" id="loginForm">
        {% csrf_token %}
        <table> {{form}}
        <tr><td></td><td><input type="button" value="Зарегестрироваться" onclick="checkIn()"></td></tr>
        </table>
    </form>
</body>
<script>
     function confirmExit(){
        formData = $("#loginForm").serializeArray()
        if(formData[1].value || formData[2].value){
            let w = confirm("Данные не сохранены. Выйти?");
            if(w) window.location.href = "/";
        }
        else window.location.href = "/";
    }

    function checkIn(){
        let loginData = $("#loginForm").serializeArray();

        if(loginData[2].value.length < 8){
            alert("Пароль должен быть не менее 8 символов");
            return 0;
        }

            loginData[2].value = sha256(loginData[2].value);
            $.ajax({
                url: "register",
                method: "POST",
                headers: {'X-CSRFToken': '{{ csrf_token }}'},
                data: loginData,
                success: function(data){
                    if(!data.loginIsTaken) window.location.href = "/";
                    else alert("Логин занят");
                }
            });


    }
</script>
</html>