<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Редактировать данные исполнителя</title>
    {% load static %}
    <script src="{% static 'libs/jquery/jquery.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'libs/jquery/jquery-ui.css' %}">
    <script src="{% static 'libs/jquery/jquery-ui.min.js' %}"></script>
</head>
<body>
    {% include "header.html"%}
    {%if msg%}
    Успешно добавленно
    {% endif%}
    {%if not err and not msg%}
    <form method="post" id="editAuthor" enctype="multipart/form-data">
        {% csrf_token %}
        <table>
        <tr><td>Имя/Название группы:</td> <td><input type="text" name="authorName" value="{{authorName}}" required/></td>
        <tr><td>Описание:</td> <td><textarea name="authorDescription"> {{description}} </textarea></td>

        </table>
        <input type="submit" value="Отправить">
    </form>
    {%endif%}
</body>
<script>
    function confirmExit(){
        formData = $("#addAlbumForm").serializeArray()
        if(formData[1].value || formData[2].value){
            let w = confirm("Данные не сохранены. Выйти?");
            if(w) history.back();
        }
    }
</script>
</html>